/*  font-family: 'DM Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	<a href="https://ibb.co/pLHtmSg"><img src="https://i.ibb.co/4Vb6QHc/468884-PFZ4-P2-187-2.jpg" alt="468884-PFZ4-P2-187-2" border="0" /></a>
*/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
	margin: 0;
	height: 100vh;
    width: 100vw;
	overflow-x: hidden;
	background-color: rgb(21,59,86);
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: #fff;
}

body {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
    

.contain{
	background: linear-gradient(rgb(32,49,59), rgb(32,49,59));
	/* background: linear-gradient(rgba(53, 49, 49, 0.5), rgba(0, 0, 0, 0.5)),url("https://i.ibb.co/4Vb6QHc/468884-PFZ4-P2-187-2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
	overflow-x: hidden;
	overflow-y: hidden;
}


.center {
	text-align: center;
}

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 90%;
	height: 80px;
	padding: 15px 25px;
	margin-right: 10%;
    z-index: 2;
	color: #ffffff;
	/* box-sizing: border-box; */
	/* background: #fff; */
	/* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 8%;
}

.logo {
	height: 60px;
}

.nav-tabs {
    font-family: 'DM Sans', sans-serif !important;
	display: flex;
	font-weight: 400;
	font-size: 18px;
	list-style: none;
}

.nav-tab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;
	/* border-right: 1px solid #eee; */
}

.nav-tab:last-child {
	padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
	cursor: pointer;
}

.hidden {
	display: none;
}

/*  BODY */

.main{
    position: relative;
    /* top: 20%; */
	width: 100%;
	height: 100%;
	color: #fff !important;
    /* font-family: 'DM Sans', sans-serif !important; */
    /* box-sizing: border-box; */
}

.main h1{
	font-size: 75px;
	font-weight: 900;
	color: #fff;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: 'Galada', cursive;
	/* font-family: 'Montserrat', sans-serif; */
	margin-bottom: 0;
}


.main img{
	height: 250px;
	/* z-index: -5; */
}

.main p{
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: 400;
	/* margin-top: 100px; */
	font-family: 'Montserrat', sans-serif;
}

/** ---------------*/

.background-curve{
	width: 100%;
	height: 80px;
}
.background-curve>img{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* ---------- */
.Hero-buttons{
	display: flex;
    flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.Hero-buttons>a{
	
	display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 15px 10px;
	max-width: 260px;
	color: #fff;
	/* background-color: #e22866; */
	background-color: #f75725;
	text-transform: uppercase;
	font-size: 14px;
    padding: 0 30px;
    font-weight: 600;
    /* background: #115d8b; */
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    display: inline-block;
    font-weight: 600;
    height: 45px;
    letter-spacing: 2px;
    line-height: 43px;
    text-align: center;
	text-decoration: none;
	transition: 0.4s;
	margin-top: 30px;
}
.Hero-buttons>a:hover{
	transform: scale(1.1, 1.1);
	transition: 0.4s;
}
/* ---------------------------GYM CARDS--- */

.gym-cards{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	
}

.gym-card{
	margin: 30px auto;
	width: 250px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.05), -5px -5px 30px 7px rgba(0,0,0,0.05);
	cursor: pointer;
	transition: 0.4s;
}

.gym-card .card_image {
	width: inherit;
	height: inherit;
	border-radius: 10px;
}

.gym-card .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 10px;
	object-fit: cover;
}

.gym-card .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: -80px;
	height: 40px;
	color: #fff;
}

.gym-card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.05), -5px -5px 30px 15px rgba(0,0,0,0.02);
}

.details{
	text-align: center;
}
/* -------------------------------LOADER   */

#loader { 
	border: 12px solid #f3f3f3; 
	border-radius: 50%; 
	border-top: 12px solid #444444; 
	width: 70px; 
	height: 70px; 
	animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
	100% { 
		transform: rotate(360deg); 
	} 
} 
  
.center { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto; 
} 

/* --------------------------------- */


@media screen and (max-width: 800px) {
	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: black;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
	}

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.nav-tab:last-child {
		padding: 15px 25px;
	}

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
		border-radius: 10px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background: rgb(255, 255, 255);
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
	
	.contain{
		height: 550px;
	}

	.main{
		/* top: 25%; */
	}

	.main h1{
		font-weight: 400;
	}

	.main img{
		height: 150px;
		/* z-index: -5; */
	}

	.main p{
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
		font-weight: 400;
		/* margin-top: 100px; */
		font-family: 'Montserrat', sans-serif;
	}

	.main-form{
		display: flex;
		width: 90%;
		margin-left: 0;
	}

	.search-icon{
		width: 25px;
		position: absolute;
		padding: 15px;
	}

	.input-form{
		height: 40px;
		width: 100%;
		font-size: 20px;
		padding: 8px 30px 8px 50px;
		border: 2px solid rgba(10, 9, 9, 0.08);
		outline: none;
		font-family: 'Montserrat', sans-serif;
		color: rgba(10, 9, 9, 0.8);
	}
	.background-curve>img{
		width: 100%;
		height: 50%;
	}
	.main-img{
		width: 80%;
		align-items: center;
		box-sizing: border-box;
	}
	.background-curve{
		width: 100%;
		height: 60px;
	}
	.background-curve>img{
		width: 100%;
		height: 100%;
		
	}
}

/*****************--------------------ABOUT US---*/

.about-us{
	transition: 0.4s;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(21,59,86);
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
    min-height: 320px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* color: white; */
}

.info{
    flex: 1 1 50%;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
}

.info-text{
    max-width: 600px;
    width: 100%;
    margin: 0 0 0 auto;
    transition: margin .4s;
    color: rgb(255, 255, 255);;
}

.info-text h1{
    font-size: 35px;
    /* font-family: 'Poppins', sans-serif; */
}

.info-text p{
	font-size: 30px;
	font-weight: 400;
}

.about-us-img{
    flex: 1 1 50%;
    position: relative;
    padding: 0 0 0 50px;
    box-sizing: border-box;
    align-items: center;
}

.main-img{
    width: 100%;
    align-items: center;
	/* padding-top: 10%; */
	/* padding-left: 10%; */
    box-sizing: border-box;
}

.main-img img{
	height: 550px;
	padding-bottom: 10%;
}

/********************PLACES SECTION *******/

.places{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.place{
	/* font-family: 'Montserrat', sans-serif; */
	margin: 10px 20px;
	transition: .4s;
	font-size: 25px;
    background: #142430;
    border-radius: 3px;
    box-shadow: 0 6px 20px 0 rgba(5,5,5,.3);
	padding: 10px 30px;
	color: #fff;
}

.place:hover {
	color: #fff;
	box-shadow: 0 15px 40px 0 rgba(5,5,5,.3);
	transform: scale(1.1,1.1);
	transition: 0.4s;
}
/* --------------FOOTER---------- */

footer{
	/* position: fixed; */
	font-family: 'Montserrat', sans-serif;
	bottom: 0;
}
.footer-distributed{
	background-color: rgb(32,49,59);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	/* font: bold 16px sans-serif; */
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #f86926;
	margin: 0;
	font-size: 25px;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 10px 0 12px 20;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	/* background-color:  #8596a1; */
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		/* font: bold 14px sans-serif; */
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
	.main-img{
		width: 80%;
		align-items: center;
		box-sizing: border-box;
	}
	.main-img img{
		height: 80%;
	}
 
}


/** --*/

.download {
	width: 200px;
	height: 75px;
	background: black;
	float: left;
	border-radius: 5px;
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	color: #fff;
	cursor: pointer;
	/* border: 1px solid #fff; */
}
  
.download > .fa {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}
  
.df,
.dfn {
	position: absolute;
	left: 70px;
}
  
  .df {
	top: 20px;
	font-size: .68em;
  }
  
  .dfn {
	top: 33px;
	font-size: 1.08em;
  }
  
  .download:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
  }

@media (max-width: 1000px) {
	.download{
		margin: 10 0;
		display: block;
	}
	.main-img img{
		/* height: 200px; */
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
}